@model ZMTFixedAssetsWebApp.Domain.Model.Device
 
<p class='header' style="margin-bottom: 1px">Urządzenie <b>@Model.id</b></p>

<table width="95%" style="margin-left: auto; margin-right: auto; margin-top: 1px; margin-bottom: 1px;">
<thead>
    <tr>
        <th width="30%"></th>
        <th width="70%"></th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>@Html.Label("ID:")</td>
        <td><b>@Html.DisplayTextFor(x => x.id)</b></td>
    </tr>
    <tr><td colspan="2"><hr /></td></tr>
    <tr>
        <td>@Html.Label("ID środka trwałego:")</td>
        <td><b>@Html.DisplayTextFor(x => x.id_fixed_asset)</b></td>
    </tr>
    <tr><td colspan="2"><hr /></td></tr>
    <tr>
        <td>@Html.Label("Typ:")</td>
        <td><b>@Html.DisplayTextFor(x => x.PeripheralDevice.name)</b></td>
    </tr>
    <tr><td colspan="2"><hr /></td></tr>
    <tr>
        <td>@Html.Label("Producent:")</td>
        <td><b>@Html.DisplayTextFor(x => x.producer)</b></td>
    </tr>
    <tr><td colspan="2"><hr /></td></tr>
    <tr>
        <td>@Html.Label("Model:")</td>
        <td><b>@Html.DisplayTextFor(x => x.model)</b></td>
    </tr>
    <tr><td colspan="2"><hr /></td></tr>
    <tr>
        <td>@Html.Label("IP Adres:")</td>
        <td><b>@Html.DisplayTextFor(x => x.ip_address)</b></td>
    </tr>
    <tr><td colspan="2"><hr /></td></tr>
    <tr>
        <td>@Html.Label("MAC Adres:")</td>
        <td><b>@Html.DisplayTextFor(x => x.mac_address)</b></td>
    </tr>
    <tr><td colspan="2"><hr /></td></tr>
    <tr>
        <td>@Html.Label("Numer seryjny:")</td>
        <td><b>@Html.DisplayTextFor(x => x.serial_number)</b></td>
    </tr>
    <tr><td colspan="2"><hr /></td></tr>
    <tr>
        <td>@Html.Label("Komentarz"):</td>
        <td><b>@Html.DisplayTextFor(x => x.comment)</b></td>
    </tr>
    <tr><td colspan="2"><hr /></td></tr>
    </tbody>
    </table>

    <p class="centre_object">
    @Ajax.ActionLink("Powrót", "Index", "Device", null, new AjaxOptions { UpdateTargetId = "ajax_main_content", HttpMethod = "POST", OnFailure = "OnFailure" }, new { @class = "submitButton", @rel = "ajax" })
</p>