@model ZMTFixedAssetsWebApp.WebUI.Models.MembershipUserModel

@{
    ViewBag.Title = "Edit";
}

<p class='header'>Edytowanie użytkownika <b>@Model.UserName </b</p>
@using (Ajax.BeginForm("Edit", "MembershipUser", new { username = Model.UserName }, new AjaxOptions { UpdateTargetId = "ajax_main_content", HttpMethod = "POST", OnFailure = "OnFailure", OnComplete = "OnCompleteEdit('/MembershipUser/Index')" }, new { @id = "form_unobtrusive" }))
{
  <table align="center" width="100%">
    <tbody>
    <tr>
        <th>User Name:</th>
        <td>@Html.TextBoxFor(x => x.UserName, new { @disabled = true })</td>
        <th>Email:</th>
        <td>@Html.TextBoxFor(x => x.Email)</td>
    </tr>
    <tr>
        <th>Created:</th>
        <td>@Html.TextBoxFor(x => x.CreationDate, new { @disabled = true })</td>
        <th>Last login:</th>
        <td>@Html.TextBoxFor(x => x.LastLoginDate, new { @disabled = true })</td>
    </tr>
    <tr>
        <th>Last active:</th>
        <td>@Html.TextBoxFor(x => x.LastActivityDate, new { @disabled = true })</td>
        <th>Last lock:</th>
        <td>@Html.TextBoxFor(x => x.LastLockoutDate, new { @disabled = true })</td>
    </tr>
    <tr>
        <th>Online:</th>
        <td>@Html.CheckBoxFor(x => x.IsOnline, new { @disabled = true })</td>
        <th>Approved:</th>
        <td>@Html.CheckBoxFor(x => x.IsApproved)</td>
    </tr>
    <tr>
        <th>Locked:</th>
        <td>@Html.CheckBoxFor(x => x.IsLockedOut, new { @disabled = true })</td>
        
    <tr>
        <tr>
            <th>Comment:</th>
            <td>@Html.TextAreaFor(x => x.Comment)</td>
    <tr >
        <td></td>
    </tr>
    <tr>
        
        <th colspan="4"><hr />Roles:</th>
    </tr>
    <tr>
        <td colspan="4">
            @Html.CheckBoxListFor(model => model.SelectedSources, Model.SubscriptionSources)
           <hr />
        </td>
    </tr>
    </tbody>
  
    <tfoot>
    <tr>
        <td colspan="4" align="center"> 
    <input type=submit class='submitButton' value="Zapisz zmiany" />
    @Ajax.ActionLink("Anuluj", "Index", null, new AjaxOptions { UpdateTargetId = "ajax_main_content", HttpMethod = "POST", OnFailure = "OnFailure" }, new { @class = "submitButton", @rel = "ajax" })
</td>
    </tr>
    </tfoot>
</table>


        
}