@model ZMTFixedAssetsWebApp.WebUI.Models.MembershipRoleModel
           

<p class='header'>Tworzenie roli</p>

@using (Ajax.BeginForm("Add", "MembershipRole", null, new AjaxOptions { UpdateTargetId = "ajax_main_content", HttpMethod = "POST", OnFailure = "OnFailure", OnSuccess = "OnCompleteEdit('/MembershipRole')" }, new { @id = "form_unobtrusive" }))
{
    @Html.ValidationSummary(true);
    <table width="100%">
                <tr>
                    <td width='30%'>@Html.Label("Nazwa: ")</td>
                    <td width='30%'>@Html.TextBoxFor(x => x.Name, new { Value = "" })</td>
                    <td width='40%'>@Html.ValidationMessageFor(x => x.Name)</td>
                </tr>   
    </table>   
    <p>Użytkownicy: </p>@Html.CheckBoxListFor(model => model.SelectedSources, Model.SubscriptionSources)
    <hr />
    <p class="centre_object"><input type=submit class='submitButton' value="Dodaj pracownika" />
    @Ajax.ActionLink("Anuluj", "Index", null, new AjaxOptions { UpdateTargetId = "ajax_main_content", HttpMethod = "GET", OnFailure = "OnFailure" }, new { @class = "submitButton", @rel = "ajax" })</p>
}