@model ZMTFixedAssetsWebApp.Domain.Model.Section
 
<p class='header' style="margin-bottom: 1px">Sekcja <b>@Model.short_name</b></p>

<table width="95%" style="margin-left: auto; margin-right: auto; margin-top: 1px; margin-bottom: 1px;">
<thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>@Html.Label("Nazwa jednostki"):</td>
        <td><b>@Html.DisplayTextFor(x => x.name)</b></td>
    </tr>
    <tr>
        <td>@Html.Label("Skrót jednostki"):</td>
        <td><b>@Html.DisplayTextFor(x => x.short_name)</b></td>
    </tr>
    <tr>
        <td>@Html.Label("Miejscowość"):</td>
        <td><b>@Html.DisplayTextFor(x => x.locality)</b></td>
    </tr>
    <tr>
        <td>@Html.Label("Ulica"):</td>
        <td><b>@Html.DisplayTextFor(x => x.street)</b></td>
    </tr>
    <tr>
        <td>@Html.Label("Kod pocztowy"):</td>
        <td><b>@Html.DisplayTextFor(x => x.postal_code)</b></td>
    </tr>
    <tr>
        <td>@Html.Label("Poczta"):</td>
        <td><b>@Html.DisplayTextFor(x => x.post)</b></td>
    </tr>
    <tr>
        <td>@Html.Label("Email"):</td>
        <td><b>@Html.DisplayTextFor(x => x.email)</b></td>
    </tr>
    <tr>
        <td>@Html.Label("Telefon"):</td>
        <td><b>@Html.DisplayTextFor(x => x.phone_number)</b></td>
    </tr>
    </tbody>
    </table>

    <hr />
    <p class="centre_object">
        @Ajax.ActionLink("Edytuj", "Edit", "Section", new { ShortName = Model.short_name }, new AjaxOptions { UpdateTargetId = "ajax_main_content", HttpMethod = "POST", OnFailure = "OnFailure" }, new { @class = "submitButton", @rel = "ajax" })
    </p>
    <p class='header' style="margin-bottom:1px;">Lista pracowników sekcji <b>@Model.short_name </b></p>
    
    <table style="width: 95%; text-align:centre; margin-left: auto; margin-right: auto">
     <thead>
                <tr>
                    <th width="10%">Id</th>
                    <th width="25%">Imię</th>
                    <th width="25%">Nazwisko</th>
                    <th width="25%">Email</th>
                    <th width="25%">Telefon</th>
                    <th width="10%">Edytuj</th>
                    <th width="10%">Usuń</th>
                </tr>
            </thead>
    <tbody>
        @foreach (var item in Model.People)
        {    
        <tr>
            <td>@item.id</td>
            <td>@item.name</td>
            <td>@item.surname</td>
            <td>@item.email</td>
            <td>@item.phone_number</td>
            <td>@Html.ActionLink("Edytuj", "Index", "Person", null, null, "Person/Edit/" + item.id + "", null, null)</td>
            <td>@Html.ActionLink("Usuń", "Index", "Person", null, null, "Person/Delete/" + item.id + "", null, null)</td>
        </tr>
        }
    </tbody>
    </table>
    <p style="text-align: right; padding-right: 40px;">Ilość pracowników:<b>@Model.People.Count()</b></p>
    <hr />

    <p class="centre_object">
    @Ajax.ActionLink("Powrót", "Index", "Section", null, new AjaxOptions { UpdateTargetId = "ajax_main_content", HttpMethod = "POST", OnFailure = "OnFailure" }, new { @class = "submitButton", @rel = "ajax" })
    </p>